@import url(reset.css);
@import url(header.css);
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background: darkslategrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0;
}
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: darkcyan;
    box-shadow: 2px 2px 20px hsla(0, 0%, 0%, .5);
    z-index: 1;
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: darkolivegreen;
    z-index: 0;
}
main>section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
main>section>span {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 350px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    font-style: oblique;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    background-image: url(bienvenue.png);
    background-size: cover;
    animation: 2s ease-in-out spin forwards;
}
@keyframes spin {
    from {
        transform: rotate(0);
        border-radius: 50%;
    }
    to {
        transform: rotate(360deg);
        border-radius: 20px;
    }
}
main>section>form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 50%;
    background: black;
    border-radius: 50px;
    box-shadow: 10px 10px 25px hsla(0, 0%, 0%, .5);
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background: darkslategray;
    box-shadow: -2px -2px 20px hsla(0, 0%, 0%, .5);
    z-index: 1;
}